header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  width: 200px;
}

@media (max-width: 1024px) {
  .show__menu {
    display: none;
    display: block;
  }

  .banner p {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    margin-top: 2rem;
  }
}

@media (max-width: 767px) {
  .hero {
    margin-top: 4rem;
  }
}