header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  width: 200px;
}

.nav li:hover {
  color: rebeccapurple;
  border-bottom: 1px solid rgb(54, 22, 87);
}

.banner {
  position: relative;
}

.banner p {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  width: 50%;
  font-weight: bold;
  margin-left: 5rem;
  margin-bottom: 8rem;
}


@media (max-width: 1024px) {
  .show__menu {
    display: none;
  }
}